<%= form_for @article do |f| %>
 
  <div class="wrapper">
    <div class="content">
      <div class="buttons_container">
          <%= link_to "Back", articles_path, class: "back_link" %>
          <%= submit_tag("Save", class: "action_with_article_link") %>
      </div>

      <div class="article_container">
          <%= f.label :title, class: "labels" %>
          <%= f.text_field :title, class: "article_title_fields" %> 
          
          <%= f.label :text, class: "labels" %>
          <%= f.text_field :text, class: "article_text_fields" %> 

          <%= f.label :category, class: "labels" %>
          <%= f.select(:category, Category.all.collect {|c| [c.name]}) %> 

          <%= f.label :sub_category, class: "labels" %>
          <%= f.select(:sub_category, Subcategory.all.collect {|sc| [sc.name]}) %> 

          <%= f.file_field :avatar, class: "file_field" %>
      </div>
          
    </div>
  </div>

  <% if @article.errors.any? %>
    <div id="error_explanation" class="errors">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>